{% load static %}
<div class="pagina-inicial">

  
    <div style="float: right;">
        
        <p style="color:white;" > Usuário: {{ user.get_username }}</p>
        <a style="color:white;" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    
    </div>


    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
        <div class="cabecalho__busca">
          {% if perms.galeria.buscar_no_site %}
            <div class="busca__fundo">
                <form action="{% url 'buscar' %}">
                    <input class="busca__input" name="buscar" type="text" placeholder="O que você procura?">
                    <button type="submit">
                        <img class="busca__icone" src="{% static '/assets/icones/1x/search.png' %}" alt="ícone de search">
                    </button>
                </form>
              </div>
          {% endif %}
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/icones/1x/Home - ativo.png' %}"> Home</a>
                <a href="#"><img src="{% static '/assets/icones/1x/Mais vistas - inativo.png' %}"> Mais vistas</a>
                <a href="#"><img src="{% static '/assets/icones/1x/Novas - inativo.png' %}"> Novas</a>
                <a href="#"><img src="{% static '/assets/icones/1x/Surpreenda-me - inativo.png' %}"> Surpreenda-me</a>
            </nav>
        </section>
      